:root {
  --main-color: #272343;
  --second-color: #87c8c8;
  --third-color: #e3f6f5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/pexels-oleksandr-pidvalnyi-341372.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: white;
  color: var(--main-color);
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5px;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 20px 32px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

main h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h3 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  /* opacity: 0.8; */
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

p,
strong {
  color: var(--main-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
}

a:visited {
  color: var(--main-color);
}

ul {
  list-style: none;
}

footer {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/pexels-oliver-li-6500721.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

footer h4 {
  color: var(--main-color);
}

footer a,
strong:hover {
  color: var(--second-color);
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: repeat(3, 3fr);
}

.img-responsive-round {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  border-radius: 8px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.secondary {
  background: var(--third-color);
}

.card {
  border-radius: 8px;
  background: white;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px;
}

.button {
  background: var(--main-color);
  color: white !important;
  display: block;
  max-width: 100%;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21xp;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
}

.tip {
  font-size: 14px;
}

.icon {
  color: var(--second-color);
  font-size: 26px;
  padding: 12px;
}

.icon:hover {
  color: var(--main-color);
}

.contact-text {
  margin-top: 30px;
  text-align: right;
}

.social-media {
  color: var(--second-color);
  font-size: 56px;
  padding: 12px;
}

.social-media:hover {
  color: var(--main-color);
}

.footer-text {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 240px 80px 240px;
}
